@import url('//fonts.cdnfonts.com/css/billabong');

body {
    background: #000

}

.text {
    color: #FB4264;
    animation: neon2 1s ease infinite; /*들어왔다 나갔다 반복*/
    font-family: neon;
}

.navbar {
    background-color: #000000;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2%;
    box-sizing: border-box;
    z-index: 2;
}

.navi_icons {
    color: #fff;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

/*/////////////////neon 폰트 등록//////////////////*/
@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}


.navbar .head-logo a {
    position: relative;
    font-size: 30px;
    text-decoration: none;
    font-family: neon;
    animation: neon2 1s ease infinite; /*들어왔다 나갔다 반복*/

}

@keyframes neon2 {
    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }
    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #b801b5;
    }
    80% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #00ce75;
    }
}

.head-search-container {
    position: relative;
}

.head-search-container .material-icons {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.head-search-container input {
    background-color: #fafafa;
    padding: 3px 20px;
    padding-left: 25px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 14px;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
    /*navbar*/
    .navbar {
        padding: 0 20px;
        justify-content: space-around;
    }

    .head-search-container {
        display: none;
    }

    .head-icon {
        display: flex;
    }

    .card-container {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: no-repeat center/cover;
    }
}


.head-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-search-container input:focus {
    outline: none;
}

.head-search-container input::placeholder {
    text-align: center;
}

.head-icon span {
    margin-left: 20px;
    font-size: 30px;
}

.head-icon a {
    color: black;
}


/********************Card**********************/
.card-area {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*noinspection ALL*/
.card {
    width: 300px;
    margin-left: 50px;
    display: grid;
    grid-template-rows:250px 250px 20px;
    grid-template-columns: 350px;
    grid-template-areas: "image" "text";
    font-family: "neon";
    border-radius: 15px;
    background: #000000;
    color: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: justify;
    transition: 0.5s ease-in;
    cursor: pointer;
    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    /*clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);*/
}


/*noinspection ALL*/
.unique::after {
    content: "";
    background: linear-gradient(60deg,
    #ff0000 0%,
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%,
    #ff9a00 40%,
    #5f15f2 70%,
    #2fc9e2 50%,
    #1c7fee 60%,
    #ba0cf8 80%,
    #fb07d9 90%,
    #ff0000 100%) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -10px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px);
    animation: unique 6s linear infinite;
}

@keyframes unique {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*noinspection ALL*/
.rare::after {
    content: "";
    background: linear-gradient(60deg,
    #ff0000 0%,
    #cb0025 10%,
    #ba8b0d 20%,
    #bb420e 30%,
    #ff9a00 40%,
    #e84400 70%,
    #d00037 50%,
    #ff3737 60%,
    #f3a337 80%,
    #780000 90%,
    #e21212 100%) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -10px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px);
    animation: rare 6s linear infinite;
}

@keyframes rare {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*noinspection ALL*/
.normal::after {
    content: "";
    background: linear-gradient(60deg,
    #0033ff 0%,
    #0058cb 10%,
    #0d78ba 20%,
    #0e36bb 30%,
    #00a6ff 40%,
    #0042e8 70%,
    #009fd0 50%,
    #373aff 60%,
    #3773f3 80%,
    #001078 90%,
    #1912e2 100%) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -10px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px);
    animation: normal 6s linear infinite;
}

@keyframes normal {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.card-image {
    width: 300px;
    height: 30vh;
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*그림 밑을 그라데이션 준다.*/
    background-size: cover;
    background-position: center;
}

/*noinspection ALL*/
.card-text {
    padding-top: 10vh;
    grid-area: text;
    transform: translateZ();
}

.card:hover {
    transform: scale(1.2);

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.js-tilt-glare {
    border-radius: 18px;
}

/*noinspection ALL*/


/*upload-modal*/

.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

.modal_window {
    background: #000000;
    /*backdrop-filter: blur(13.5px);*/
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 600px;
    position: relative;
    margin: auto;
    align-items: center;
    padding: 10px;
    font-family: "Times New Roman", Didot;
}

/*noinspection ALL*/
.border::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    background: linear-gradient(20deg,
    #ff8d46 10%,
    #f67a10 30%,
    #ff9507 40%,
    #a04100 50%,
    #de5d00 70%,
    #ee6630 100%) repeat 0% 0% / 300% 100%;;
    inset: -9px;
    border-radius: 10px;
    filter: blur(6px);
    filter: blur(8px);
    /*transform: translateZ(-1px);*/
    z-index: -1;
    animation: border 5s linear infinite;
}


@keyframes rgb {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.close {
    top: 10px;
    right: 0;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .title {
    margin: 5% 0;
    font-weight: bold;
}

.header-closeBtn {
    text-align: center;
}

.closeBtn {
    width: 30px;
    margin: 5% 0;
    float: right;
    background-color: #fafafa;

}

.text-area {
    width: 50vw;
    height: 15vh;
    margin: auto;

}

.text-input {
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/*######## 밑에 네온바닥 #######*/
/*noinspection ALL*/
.grid {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: -50%;
    background-color: rgba(20 30 40 0.4);
    background-image: linear-gradient(90deg, transparent 0%, transparent 85%, #d940fc 90%, transparent 95%), linear-gradient(0deg, transparent 0%, transparent 85%, #be0dee 90%, transparent 95%);
    background-size: 30px 12px;
    width: 200vw;
    height: 35vh;
    transform: translate3D(0, 0, 0) perspective(150px) rotateX(45deg);
    perspective-origin: top;
    animation-name: movement;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.grid:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, transparent, black);
}

@keyframes movement {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}


.main_body {
    padding-top: 50px;
    z-index: 1;
    background-color: #000000;
    color: white;
    font-family: neon;
    width: 91%;
    margin: 100px;
    height: 1100px;
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7,
    0 0 0.4vw 0.6vw #e97272,
    0 0 4vw 0.4vw #e50b0b,
    inset 0 0 1.5vw 0.4vw #e50b0b,
    inset 0 0 0.4vw 0.2vw #e97272,
    inset 0 0 0.5vw 0.2vw #fff7f7;
    border-radius: 1.5rem;
    animation: Boxneon 1s ease infinite; /*들어왔다 나갔다 반복*/
}


@keyframes Boxneon {
    0%, 100% {
        box-shadow: 0 0 0.1vw 0.4vw #fff7f7,
        0 0 0.4vw 0.6vw #e97272,
        0 0 4vw 0.4vw #e50b0b,
        inset 0 0 1.5vw 0.4vw #e50b0b,
        inset 0 0 0.4vw 0.2vw #e97272,
        inset 0 0 0.5vw 0.2vw #fff7f7;
    }
    50% {
        box-shadow: 0 0 0.1vw 0.4vw #fff7f7,
        0 0 0.4vw 0.6vw #e97272,
        0 0 4vw 0.4vw #d61ee3,
        inset 0 0 1.5vw 0.4vw #b02be7,
        inset 0 0 0.4vw 0.2vw #e97272,
        inset 0 0 0.5vw 0.2vw #fff7f7;
    }
}


.sub_body {
    width: 95%;
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    height: 95%;
}

span {
    padding-right: 5px;
}

.feed_name {
    padding: 10px;
    display: flex;
    align-items: center;
}

.row_feed {
    width: 240px;
    height: 240px;
    object-fit: cover;
    margin: 10px;
}

.feed_name_txt {
    font-size: 14px;
    padding: 0px 10px;
    font-weight: bold;
}

.profile_box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;

}

.navi_profile_box {
    width: 30px;
    height: 30px;
    border-radius: 70%;
    overflow: hidden;
    cursor: pointer;
}

.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {
    font-size: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.content {
    margin: 10px 9%;
    display: grid;
    width: 1500px;
    height: 100%;
    grid-template-rows: 330px 330px 330px;
    grid-template-columns: 480px 480px 480px;
    /* margin: auto; */
    /*flex-direction: row;*/
    overflow-y: scroll;
    overflow-x: hidden;
    /*justify-content: space-around;*/
}

.type2::-webkit-scrollbar {
    width: 10px;
}

.type2::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
}

/* 스크롤바 뒷 배경 설정*/
.type2::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.8);
}

.content img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%
}

.content .content-post {
    width: 450px;
    height: 450px;
    margin-left: 1%;
}


.my_info {
    margin: 25px;
    width: 300px;
    height: 400px;
    border: 0.6px solid white;
    padding-left: 20px;
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7,
    0 0 4vw 0.4vw #0477d5;
    border-radius: 1rem;
    animation: infoneon 1s ease infinite; /*들어왔다 나갔다 반복*/
}


@keyframes infoneon {
    0%, 100% {
        box-shadow: 0 0 0.1vw 0.3vw #fff7f7,
        0 0 0.3vw 0.4vw #7294e9,
        inset 0 0 1vw 0.2vw #0b2fe5,
        inset 0 0 0.3vw 0.2vw #7298e9,
        inset 0 0 0.4vw 0.2vw #fff7f7;

    }
}
.my_info a {
    text-decoration: none;
    animation: txtneon 1s ease infinite; /*들어왔다 나갔다 반복*/

}

@keyframes txtneon {
    0%,
    100% {
        text-shadow: 0 0 1vw #1688fa, 0 0 3vw #1644fa, 0 0 10vw #1666fa, 0 0 10vw #165efa, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #d5d5f8;
    }
    40% {
        text-shadow: 0 0 .5vw #0b3e80, 0 0 1.5vw #0b2680, 0 0 5vw #0b2680, 0 0 5vw #0b0d80, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #0e45dc;
    }

}

.my_info .info-logo {
    width: 100%;
    height: 40%;
    font-size: 60px;
    margin: 10px;
    text-decoration: none;
}

.my_info .info-logo2 {
    width: 100%;
    height: 40%;
    transform: scaleX(-1);
    font-size: 60px;
    padding: 30px;
    text-decoration: none;
}

.post-area {
    width: 100%;
    height: 90%;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.sub_body .menu-bar {
    font-size: 14px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid rgba(254, 254, 254, 0.6);
    height: 100px;
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

.modal_title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

.modal_title_side {
    margin: 5px;
    flex: 0 0 40px;
    text-align: center;
    color: #ffffff;
}

.modal_image_upload {
    outline: 2px dashed #ffffff;
    outline-offset: -10px;
    transition: all .15s ease-in-out;
    width: 100%;
    height: 93%;
    text-align: center;
    line-height: 548px;
}

.modal_image_upload_content {
    outline: 2px dashed black;
    outline-offset: -10px;
    text-align: center;
    transition: all .15s ease-in-out;
    border-radius: 10px;
    margin: 1% 0;
    width: 100%;
}

.modal_image_content {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 320px 150px 20px;
    text-align: justify;
    margin: 0% 4%;
}

.modal_content_write {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.18);
    height: 95%;
}

.feed_content_textarea {
    resize: none;
    width: 347px;
    border: none;
    height: 96%;
}

.navi_icons {
    padding-right: 18px;
    font-size: 28px;
    cursor: pointer;
}

.big_profile_box {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    margin: 30px;
}

.uploadBtn {
    position: relative;
    background: #1d1d1d;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: #ffb054;
    border: 2px solid #ffb175;
    display: inline-block;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;

}

.uploadBtn:hover {
    color: #111;
}

.uploadBtn span {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(20deg, #fcad73, #faa93c);
    transition: width 0.5s, height 0.5s;

}

.uploadBtn:hover span {
    width: 250px;
    height: 250px;
}

.btnArea {
    width: 100%;
    text-align: center;
    position: relative;
}

.feed_content_textarea {
    resize: none;
    width: 350px;
    border: none;
}

.navi_icons {
    padding-right: 18px;
    font-size: 28px;
    cursor: pointer;
}

.big_profile_box {
    width: 300px;
    height: 300px;
    border-radius: 70%;
    overflow: hidden;
    margin: 30px;
}

.profile_area {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    /*{#border-right: 1px solid rgba(255,255,255,0.5);#}*/

}

.my_info textarea {
    resize: none;
    width: 300px;
    height: 400px;
    border-radius: 1rem;
    margin: auto;
}